# Telegram Configuration
TELEGRAM_BOT_TOKEN=xxxx:xxxx
TELEGRAM_CHAT_ID=xxxx

# Website Configuration
KEMNAKER_USERNAME=xxx@mail.com
KEMNAKER_PASSWORD=xxxx

# Schedule configuration
LOGBOOK_HOUR=9
LOGBOOK_MINUTE=0

GEMINI_API_KEY=xx.xxx
